:root{
    --accent-color: #EA8609;
    --font-color-light: #fff9ec;
    --font-color-dark:  #802200;
    --red: #9F2B00;
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;}

body{
    background-color: #F1DBBE;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}

.container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}

.banner-content,
ul{
    display:flex;
}

li,a{
    list-style: none;
    color:white;
    font-weight:800;
    font-size:1rem;
}

a{
    text-decoration: none;
}

.title{
    font-size: 1.5rem;
    font-weight: 800;
    color:var(--font-color-dark);
    margin: 16px 0;
}


/*      Banner      */
.banner-content{
    align-items: center;
    justify-content: center;
    margin:32px;
}

.banner-content{
    justify-content: center;
}

ul.banner-links{
    gap:64px;
    display:flex;
}

.banner-links>li:hover,
li a:hover{
color:var(--font-color-dark)
}

.content-container{
    display:flex;
    justify-content: center;
}

/*      Left Side      */
.media-container{
    display:flex;
    flex-direction: column;
    background-color: var(--font-color-light);
    margin:32px;
    padding:48px;
    border-radius:16px;
}

.main-image{
    height:minmax(30%,100%);
    width:100%;
    border-radius:16px;
}


.ingredients{
    display:inline-block;
}


.ingredients-list{
    padding:0;
    margin:0;
    display:flex;
    width:250px;
    justify-content: space-between;
    padding: 0 16px;
}

.list>li{
    list-style: circle;
}

.list>li{
    font-weight:normal;
    color:black;
    padding-bottom:16px;
}

/*      Right Side      */
.direction-container{
    background-color: var(--font-color-light);
    border-radius: 16px;
    margin:32px;
    padding:40px;
    }

.direction-title{
    text-align: center;
    color: var(--font-color-dark);
    font-size:32px;
    font-weight: bolder;
}

.directions{
    display:flex;
    flex-wrap: wrap;
    gap:64px;
}

.direction-list>li{
    list-style:decimal;
    padding:16px 0;
    font-weight:normal;
    color:black;
}

/*      Footer      */
.footer{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
    
    text-align: center;
    padding:32px;
}
.footer-content{
    color:var(--font-color-dark);
  font-weight:800;
}